.btn:focus, .btn.focus{
	box-shadow: none !important;
}
// header
#sticky {
	display: none;
	// background-color: #546bcb;
	// height: 70px;
}
#sticky.fixed {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 9999;
}
.navbar-toggler i{
	color: white;
	outline: none;
	padding-top: 5px;
}
.navbar-toggler:hover, .navbar-toggler:focus{
	outline: none;
}
.navbar-row{
	margin-bottom: 15px;
}
.active{
	a{
		color: #02AA31 !important;
	}
}
.header-list{
	margin-top: 15px;
}
.header-list-ul{
	padding-left: 0px;
	margin-bottom: 0px;
	li{
		list-style: none;
		display: inline-block;
	}
	img{
		width: 100%;
		@media only screen and (max-width: 576px){
			width: 75px;
		}
	}
	.medicine a:before{
		display: none;
	}
}
.header-list-ul li:first-child{
	width: 10%;
}
.nav-item {
	a{
		color:#5C5E70;
		font-size: 14px;
		font-weight: 500;
		font-family: 'Jost', sans-serif;
		position: relative;
		padding: 8px 20px;
		@media only screen and (max-width: 480px){
			padding: 8px 10px !important;
			font-size: 13px;
		}
	}
	a:before{
		content:"";
		position: absolute;
		top: 8px;
		right: 0;
		background-color: #E0E0E0;
		height: 20px;
		width: 1px;
	}
	a:hover{
		color: #02AA31;
	}
}
.app-img{
	img{
		width: 100%;
		height: 100%;
		padding-top: 4px;
		@media only screen and (max-width: 992px){
			width: 85%;
		}	
	}
}
.ap-location{
	h6{
		color: #5C5E70;
		font-size: 14px;
		font-weight: 400;
		font-family: 'Jost', sans-serif;
	}
	h5{
		color: #02AA31;
		font-size: 16px;
		font-weight: 400;
		font-family: 'Jost', sans-serif;
		@media only screen and (max-width: 480px){
			font-size: 13px;
		}
	}
}
.ap-location:before {
	content: "";
	position: absolute;
	top: 13px;
	right: 11px;
	background-color: #E0E0E0;
	height: 20px;
	width: 1px;
}

.app-search{
	input{
		width: 100%;
		border:1px solid #F5F5F5;
		background-color: #F5F5F5;
		height: 45px;
		padding-left: 40px;
		font-size: 14px;
		font-weight: 400;
		font-family: 'Jost', sans-serif;
		border-radius: 30px;
		outline:none;
		color: #5C5E70;
		position: relative;
	}
	.app-search-icon{
		color: #5C5E70;
		font-size: 14px;
		position: absolute;
		left: 33px;
		top: 16px;
		@media only screen and (max-width: 992px){
			left: 18px;
			top: 30px;
		}
	}
	@media only screen and (max-width: 992px){
		margin-top: 15px;
	} 
}
.app-search:before{
	content: "";
	position: absolute;
	top: 13px;
	right:-13px;
	background-color: #E0E0E0;
	height: 20px;
	width: 1px;
}
@media only screen and (max-width: 992px){
	.app-search-column{
		padding:0px !important;
	}
}
.app-login{
	height: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;

	button{
		height: 40px;
		width: 90px;
		background-color: #02AA31;
		color: white;
		font-size: 14px;
		font-weight: 400;
		font-family: 'Jost', sans-serif;
	}
	.btn:focus, .btn.focus{
		box-shadow: none;
	}
	i{
		color: black;
		font-size: 20px;
		margin-left: 15px;
		position: relative;
		cursor: pointer;
	}
}
.mobile-view-sec{
	display: none;
}
.header{
	@media only screen and (max-width: 992px) {
		.destop-view{
			display: none;
		}
		.mobile-view-sec{
			display: block;
		}
	}
}
// header

// content
.content{
	background-image: url(../img/bg.png);
	background-size: cover;
	background-position: right;
	@media only screen and (max-width: 768px){
		background-color: rgba(0,0,0,0.5);
		background-blend-mode: overlay;
	}
	.content-parent{
		height: 55vh;
	}
	.content-paragraph{
		position: relative;
		transform: transalateY(-35%);
		top: 35%;
		@media only screen and (max-width: 480px){
			top: 27%;
		}
		h2{
			color: #02062E;
			font-size: 44px;
			font-weight: 500;
			font-family: 'Jost', sans-serif;
			@media only screen and (max-width: 768px){
				color: white;
			}
		}
		p{
			color: #5C5E70;
			font-size: 16px;
			line-height: 24px;
			font-weight: 400;
			font-family: 'Jost', sans-serif;
			@media only screen and (max-width: 768px){
				color: white;
			}
		}
	}
}
// content

// popular-brand
.popular-brand{
	padding: 40px 0px;
}
.popular-brand-heading{
	margin-bottom: 40px;
	h4{
		color: #02062E;
		font-size: 30px;
		font-weight: 500;
		font-family: 'Jost', sans-serif;
	}
}
.popular-box{
	img{
		height: 100%;
		width: 100%;
		margin-bottom: 15px;
	}
	.popular-content{
		text-align: center;
		h6{
			color: #02062E;
			font-size: 18px;
			font-weight: 500;
			font-family: 'Jost', sans-serif;
		}
		p{
			color: #5C5E70;
			font-size: 16px;
			font-weight: 400;
			font-family: 'Jost', sans-serif;
		}
	}
}
// popular brand

// grocy

.grocy{
	padding-bottom: 40px;
}
.grocy-heading{
	margin-bottom: 40px;
	position: relative;
	
	h4{
		color: #02062E;
		font-size: 30px;
		font-weight: 500;
		font-family: 'Jost', sans-serif
	}
	img{
		width: 3%;
		position: absolute;
		right: 0;
		top: 3px;
		@media only screen and (max-width: 992px){
			width: 4%;
			position: absolute;
			right: 0;
			top: 5px;
		}
		@media only screen and (max-width: 768px){
			width: 6%;
			position: absolute;
			right: 0;
			top: 6px;
		}
		@media only screen and (max-width: 576px){
			width: 9%;
		}
	}
}
.grocy-box{
	img{
		width: 100%;
		margin-bottom: 15px;
		border-radius: 12px;
	}
	.grocy-content{
		a{
			text-decoration: none !important;
		}
		h6{
			color: #02062E;
			font-size: 18px;
			font-weight: 500;
			font-family: 'Jost', sans-serif;
		}
		p{
			color: #5C5E70;
			font-size: 16px;
			margin-bottom: 8px;
			font-weight: 400;
			font-family: 'Jost', sans-serif
		}
		ul{
			padding-left: 0px;
			margin-bottom: 0px !important;
		}
		li{
			list-style: none;
			color:#02062E;
			font-size: 14px;
			font-weight: 400;
			font-family: 'Jost', sans-serif;
			margin-bottom: 8px;
		}
		li:last-child{
			margin-bottom: 0px;
		}
		i{
			color: #FFB400;
			font-size: 14px;
			padding-right: 10px;
		}
		.grocry-color{
			color: #F22D51;
		}
		.grocry-color i{
			font-size: 14px;
			color: #F22D51;
		}
	}
	@media only screen and (max-width: 992px){
		margin-bottom: 40px;
	}
}
.grocery-last-box{
	@media only screen and (max-width: 992px){
		margin-bottom: 0px;
	}
}
// grocry

// grocery store
.grocry-store{
	padding: 40px 0px;
	.store-row{
		margin-bottom: 40px;
		@media only screen and (max-width: 992px){
			margin-bottom: 0px;
		}
	}
}


// shop
.shop{
	background-image: url(../img/bg2.png);
	background-size: cover;
	padding: 90px 0px;
}
.shop-box{
	background-color: white;
	border-radius: 12px;
	padding: 40px;
	h4{
		color: #02062E;
		font-size: 30px;
		margin-bottom: 15px;
		font-weight: 500;
		font-family: 'Jost', sans-serif;
	}
	p{
		color: #5C5E70;
		font-size: 16px;
		line-height: 24px;
		font-weight: 400;
		font-family: 'Jost', sans-serif;
	}
	button{
		height: 40px;
		width: 120px;
		background-color: #02AA31;
		color: white;
		font-size: 14px;
		border:1px solid #02AA31;
		font-weight: 400;
		font-family: 'Jost', sans-serif;
	}
	button:hover{
		background-color: #02AA31;
		border:1px solid #02AA31;
	}
}
// shop

// footer

.footer{
	background-color: #02062E;
	padding: 90px 0px 40px;
}
.footer-sec{
	@media only screen and (max-width: 768px){
		margin-top: 20px;
	}
	img{
		width: 50%;
		margin-bottom: 31px;
	}
	h3{
		font-size: 18px;
		color: white;
		margin-bottom: 55px;
		@media only screen and (max-width: 992px) {
			margin-bottom: 38px;
		}
	}
	ul{
		padding-left: 0px;
	}
	li{
		list-style: none;
		margin-bottom: 18px;
	}
	a{
		font-size: 16px;
		color: white;
		text-decoration: none !important;
		font-weight: 300;
		font-family: 'Jost', sans-serif;
	}
	a:hover{
		color: white;
	}
	span{
		color: #FFFFFF;
		font-size: 16px;
		display: table-cell;
	}
	i{
		font-size: 16px;
		padding-right: 10px;
	}
	.social-images{
		width: 70%;
		margin-bottom: 20px;
		@media only screen and (max-width: 768px){
			width: 30%;
		}
	}
}
.footer-copyright{
	padding-top: 60px;
	p{
		color: white;
		font-size: 16px;
		font-weight: 300;
		font-family: 'Jost', sans-serif;
	}
}
// footer


// shop-page------------------
// header two
.location-navbar{
	padding: 0px 15px 0px 10px;
}
.location-column{
	padding-left: 0px !important;
}
.login-column{
	padding-right: 0px !important;
}
.second-nav{
	background-color: #02062E;
	a{
		color: white;
		font-size: 14px;
		font-weight: 300;
		font-family: 'Jost', sans-serif;
	}
	a:before{
		display: none;
	}
}
.dark-navbar{
	@media only screen and (max-width: 576px){
		padding: 5px 0px;
	}
	.navbar-brand{
		width: 170px;
		span{
			height: 20px;
			width: 20px;
			background-color: red;
		}
	}
	img{
		width: 100%;
	}
}
.nav-right-button {
	button{
		height: 40px;
		width: 160px;
		background-color: #02AA31;
		color: white;
		font-size: 14px;
		border:1px solid #02AA31;
		font-weight: 400;
		font-family: 'Jost', sans-serif;
	}
	button:hover{
		background-color: #02AA31;
		border:1px solid #02AA31;
	}
}

// header two

// shop content

.shop-content{
	background-image: url(../img/shop-bg.png);
	background-size: cover;
	height: 45vh;
	.shop-content-parent{
		height: 45vh;
		background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 80.83%);
	}

}
.shop-div-parent{
	position: relative;
	height: 45vh;
	.shop-div{
		position: absolute;
		bottom: 20px;
		width: 100%;
	}
}
.shop-online{
	background: linear-gradient(0deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), #02AA31;
	border-radius: 50%;
	height: 65px;
	width: 65px;
	display: flex;
	justify-content: center;
	align-items: center;
	h4{
		color: #02AA31;
		font-size: 30px;
		font-weight: 500;
		font-family: 'Jost', sans-serif;
		margin-bottom: 0px;
	}
}
.shop-name{
	h2{
		color: white;
		font-size: 40px;
		font-weight: 500;
		font-family: 'Jost', sans-serif;
		@media only screen and (max-width: 576px){
			font-size: 30px;
		}
	}
	p{
		color: #FFFFFF;
		font-size: 16px;
		font-weight: 300;
		font-family: 'Jost', sans-serif;
	}
	i{
		color: #FFB400;
		font-size: 16px;
		margin-right: 5px;
	}
}

// shop content


// catagories
.catagories{
	padding: 60px 0px;
}
.catagories-heading{
	margin-bottom: 40px;
	h4{
		font-size: 30px;
		color: #02062E;
		font-weight: 500;
		font-family: 'Jost', sans-serif;
	}
}
.catagories-box{
	margin-bottom: 40px;
	img{
		width: 100%;
		border-radius: 12px;
		margin-bottom: 15px;
	}
}
.catagories-content{
	a{
		text-decoration: none !important;
	}
	h6{
		font-size: 14px;
		color: #02062E;
		font-weight: 400;
		font-family: 'Jost', sans-serif;
	}
}
// catagories



// proiduct page -----------------

// product-sec

.structure-two{
	background-color:  #FAFAFA;
}
.product-sec{
	padding: 60px 0px;
}
.product-sec-heading{
	margin-bottom: 40px;
	h4{
		font-size: 30px;
		color: #02062E;
		font-weight: 500;
		font-family: 'Jost', sans-serif;
	}
}
.w3-btn, .w3-button{
	font-size: 14px;
	color: #02062E;
	width: 220px;
	height: 40px;
	border:1px solid rgba(0, 0, 0, 0.23) !important;
	background-color: white !important;
	font-weight: 400;
	font-family: 'Jost', sans-serif;
	outline: none !important;
	i{
		position: relative;
		top: 2px;
		font-size: 18px;
		color: black;
		margin-left: 15px;
	}
}
.w3-dropdown-content{
	max-width: 100% !important;
	width: 100%;
}
.w3-bar-block .w3-bar-item{
	text-decoration: none !important;
	border:1px solid rgba(0, 0, 0, 0.23);
}

// product catagories

.product-catagories{
	background-color: white;
	border-radius: 10px;
	padding: 20px;
	@media only screen and (max-width: 992px){
		padding-bottom: 0px;
	}

	h6{
		color: #757575;
		font-size: 18px;
		font-weight: 500;
		font-family: 'Jost', sans-serif; 
		margin-bottom: 15px;
	}
}

.accordion {
	background-color:white;
	color: #444;
	cursor: pointer;
	width: 100%;
	text-align: left;
	border: none;
	outline: none;
	transition: 0.4s;
	outline: none !important;
}


.panel {
	padding: 0 18px;
	background-color: white;
	display: none;
	overflow: hidden;
	ul{
		padding-left: 0px;
		padding: 10px 0px;
	}
	li{
		list-style: none;
		margin-bottom: 15px;
	}
	a{
		color: #02062E;
		font-size: 14px;
		text-decoration: none !important;
		font-weight: 400;
		font-family: 'Jost', sans-serif;
	}
	a:hover{
		color: #02062E;
	}
}

.accordion{
	h6{
		font-size: 16px;
		color: #02062E;
		margin-bottom: 2px;
		font-weight: 400;
		font-family: 'Jost', sans-serif;
	}
	p{
		font-size: 14px;
		color: #5C5E70;
		font-weight: 300;
		font-family: 'Jost', sans-serif;
	}
	span{
		float: left;
		padding-top: 0px;
		margin-right: 15px;
	}
}
.product-row{
	margin-bottom: 10px;
}
.catagories-left-side{
	background-color: white;
	border-radius: 10px;
	padding: 20px;
}
.product-img{
	background-color: #EEEEEE;
	border-radius: 10px;
	margin-bottom: 15px;
	position: relative;
	img{
		width: 100%;
	}
}
.img-content{
	position: absolute;
	top: 7px;
	left: 7px;
	background-color:  #FDD9DF;
	border-radius: 25px;
	padding: 6px 10px;
	h6{
		font-size: 13px;
		color: #F22D51;
		margin-bottom: 0px;
		font-weight: 300;
		font-family: 'Jost', sans-serif;
	}
}
.product-content{
	h6{
		font-size: 16px;
		color: #02062E;
		margin-bottom: 2px;
		margin-bottom: 5px;
		font-weight: 400;
		font-family: 'Jost', sans-serif;
	}
	p{
		font-size: 14px;
		color: #02062E;
		font-weight: 600;
		font-family: 'Jost', sans-serf;
	}
}

// product-sec

// plus cart
.product-img{

	.plus-cart{
		position: absolute;
		bottom: 7px;
		right: 7px;
		background-color: white;
		border-radius: 2px;
		display: flex;
		justify-content: center;
		align-items: center;
		overflow:hidden;

		button{
			border: 0px;
			background-color: transparent;
			padding: 0px;
			outline:none;
		}
		img{
			width: 25px;
			height: 25px;
		}
	}
	.image-marker{
		position: absolute;
		bottom: -8px;
		right: 0px;
		img{
			width: 5px;
			height: 5px;
		}
	}
}

// car module
body .modal-dialog{
	max-width: 850px;

	.cart-image{
		background-color: #EEEEEE;
		border-radius: 10px;
		margin-bottom: 15px;
		img{
			width: 100%;
		}
	}
}
body .modal-body {
	padding: 40px 30px;
}
.sub-cart-object{
	background-color: #EEEEEE;
	border-radius: 10px;
	@media only screen and (max-width: 768px){
		margin-bottom: 20px;
	}
	img{
		width: 100%;
	}
}
.cart-popup-heading{
	margin-bottom: 40px;
	padding-left: 17px;
	.close{
		position: absolute;
		right: 30px;
		top: 39px;
		outline: none;
	}
	h4{
		font-size: 30px;
		color: #02062E;
		font-weight: 500;
		font-family: 'Jost', sans-serf;
	}
}
.cart-content{
	margin-top: 20px;
	margin-bottom: 15px;
	h4{
		font-size: 30px;
		color: #02062E;
		margin-bottom: 15px;
		font-weight: 500;
		font-family: 'Jost', sans-serf;
	}
	h6{
		font-size: 18px;
		color:#02062E;
		font-weight: 600;
		font-family: 'Jost', sans-serf;
	}
}
.weight-list{
	margin-top: 30px;
	h6{
		color:#02062E;
		font-size: 18px;
		margin-bottom: 15px;
		font-weight: 400;
		font-family: 'Jost', sans-serf;
	}
	.size-radio{
		top: -14px !important;
		display: flex;
		justify-content: center;
		align-items: center;
		border: 1px solid lightgray !important;
		background-color: transparent !important;
		width: 55px !important;
		height: 35px !important;
		border-radius: 25px !important;
		font-size: 14px !important;
	}
}

.product {
	width: 30%;
	margin: 30px;
}
.cart-add{
	margin-top: 30px;

	.input-group{
		border:1px solid rgba(0, 0, 0, 0.23);
	}
	.form-group {
		width: 45%;
		float: left;
		margin-right: 10px; 
	}
	.btn-default{
		background-color: transparent ;
	}
	.input-number{
		border:none;
		text-align: center;
		outline:none;
	}
	.form-control:focus{
		box-shadow: none;
	}
	.add-cart-button{
		height: 40px;
		width: 45%;
		background-color: #02AA31;
		border:1px solid #02AA31;
		color: white;
		font-size: 14px;
		font-weight: 400;
		font-family: 'Jost', sans-serif;
	}
	.add-cart-button:hover{
		background-color: #02AA31;
		border:1px solid #02AA31;
	}
}

// proiduct page -----------------

// conform card -------------------
.conform-cart{
	padding: 60px 0px;
}
.conform-cart-main{
	background-color: white;
	padding: 40px 30px !important;
	border-radius: 10px;
}
.conform-card-img{
	.item{
		img{
			background-color: #eee;
			border-radius: 10px;
		}
	}
	ul{
		padding-left: 0px;
	}
	li{
		list-style: none;
		background-color: #eee;
		margin-bottom: 10px;
		border-radius: 10px;
	}
	img{
		width: 100%;
	}
}
.conform-cart-full-img{
	background-color: #eee;
	border-radius: 10px;
	img{
		width: 100%;
	}
}
.cart-content-parent{
	height: 100%;
	.cart-content{
		position: relative;
		transform: translateY(-50%);
		top: 50%;
	}
}

// description ----
.description{
	padding-bottom: 90px;
}
.description-parent{
	background-color: white;
	border-radius: 10px;
	.description-heading{
		border-bottom:1px solid lightgray;
		h6{
			font-size: 18px;
			color: #02AA31;
			padding: 20px 0px 10px 60px;
			font-weight: 600;
			font-family: 'Jost', sans-serf;
			@media only screen and (max-width: 992px){
				padding: 20px 0px 10px 20px;
			}
		}
	}
	.description-paragraph{
		p{
			font-size: 16px;
			color: #02062E;
			padding: 40px 20px 40px 60px;
			margin-bottom: 0px;
			font-weight: 300;
			font-family: 'Jost', sans-serf;
			@media only screen and (max-width: 992px){
				padding: 40px 20px 40px 20px;
			}
		}
	}
}
// conform card -------------------


// no item cart popup -------------
@media only screen and (max-width: 768px){
	//  #mySidenav{
		// width: 100% !important;
		// }
	}
	.sidenav {
		height: 100%; 
		width: 0; 
		position: fixed; 
		z-index: 9999999; 
		top: 0; 
		right: 0;
		background-color: #FAFAFA; 
		overflow-x: hidden;
		transition: 0.3s; 
	}
	.sidenav {
		.closebtn {
			position: absolute;
			top: 17px;
			left:15px;
			font-size:25px;
			color: #02062E;
			text-decoration: none;
		}
	}

	#main {
		transition: margin-left .5s;
		padding: 20px;
	}

	@media screen and (max-height: 450px) {
		.sidenav {padding-top: 15px;}
		.sidenav a {font-size: 18px;}
	}
	.no-item-cart{
		background-color: white;
		padding: 13px 45px;
		h6{
			font-size: 18px;
			color: #02062E;
			font-weight: 500;
			font-family: 'Jost', sans-serf;
		}
		p{
			color: #5C5E70;
			font-size: 16px;
			margin-bottom: 0px;
			font-weight: 400;
			font-family: 'Jost', sans-serf;
		}
	}
	.no-item-cart-img{
		text-align: center;
		margin-top: 15px;
		img{
			width: 70%
		}
	}
	.no-item-cart-content{
		margin-top: 15px;
		padding: 0px 50px;
		h6{
			font-size: 18px;
			color: #02062E;
			font-weight: 500;
			font-family: 'Jost', sans-serf;
		}
		p{
			color: #5C5E70;
			font-size: 16px;
			margin-bottom: 0px;
			font-weight: 400;
			font-family: 'Jost', sans-serf;
		}
	}
	// conform card -------------------

	// cart-detail --------------------

	.cart-map{
		padding: 60px 0px;
	}
	.cart-map-heading{
		background-color: white;
		padding: 30px;
		border-radius: 10px;
		@media only screen and (max-width: 768px){
			padding: 30px 10px;
		}
		img{
			width: 5%;
			position: relative;
			bottom: 6px;
			@media only screen and (max-width: 480px){
				width: 7%;
			}
		}
		h4{
			font-size: 30px;
			color: #02062E;
			font-weight: 500;
			font-family: 'Jost', sans-serf;
		}
	}
	.location-map{
		margin-top: 20px;
	}
	.map-content{
		margin-top: 15px;
		position: relative;
		h6{
			font-size: 18px;
			color: #02062E;
			font-weight: 500;
			font-family: 'Jost', sans-serf;
		}
		p{
			color: 16px;
			color: #5C5E70;
			font-weight: 400;
			font-family: 'Jost', sans-serf;
		}
		span{
			margin-top: 20px;
			color: 16px;
			color: #5C5E70;
			font-weight: 400;
			font-family: 'Jost', sans-serf;
		}
		a{
			color: #02AA31;
			text-decoration: none;
		}
		a:hover{
			color: #02AA31;
		}
		.pencil{
			position: absolute;
			top: 2px;
			right: 0;
			width: 3%;
		}
	}

	// order submit ---

	.order-submit{
		background-color: white;
		padding: 30px;
		border-radius: 10px;
		@media only screen and (max-width: 768px){
			padding: 30px 10px;
		}
		h4{
			font-size: 30px;
			color: #02062E;
			margin-bottom: 20px;
			font-weight: 500;
			font-family: 'Jost', sans-serf;
		}
	}
	.submit-history-parent{
		padding-bottom: 10px;
		border-bottom: 1px solid #E0E0E0;
		margin-bottom: 20px;
	}
	.submit-history-heading{
		margin-bottom: 20px;
		h6{
			color: #02062E;
			font-size: 18px;
			font-weight: 500;
			font-family: 'Jost', sans-serf;
		}
	}
	.submit-history{
		margin-bottom: 10px;
		span{
			color: #5C5E70;
			font-size: 16px;
			font-weight: 300;
			font-family: 'Jost', sans-serf;
		}
		.span-price{
			float: right;
			color: #02062E;
			font-size: 16px;
			font-weight: 500;
			font-family: 'Jost', sans-serf;
		}
	}

	// total price -------------

	.total-price-parent{
		padding-bottom: 10px;
		border-bottom: 1px solid #E0E0E0;
		margin-bottom: 20px;
	}
	.total-price{
		margin-bottom: 10px;
		span{
			color: #5C5E70;
			font-size: 16px;
			font-weight: 300;
			font-family: 'Jost', sans-serf;
		}
		.total-price{
			float: right;
			color: #02062E;
			font-size: 16px;
			font-weight: 500;
			font-family: 'Jost', sans-serf;
		}
	}

	// final price

	.final-price{
		margin-bottom: 10px;
		span{
			color: #02062E;
			font-size: 16px;
			font-weight: 500;
			font-family: 'Jost', sans-serf;
		}
		a{
			color: red;
			text-decoration: none !important;
		}
		.total-price{
			float: right;
			color: #02062E;
			font-size: 16px;
			font-weight: 500;
			font-family: 'Jost', sans-serf;
		}
	}
	.place-order{
		margin-top: 15px;
		button{
			height: 40px;
			width: 100%;
			background-color: #02AA31;
			color: white;
			font-size: 14px;
			border:1px solid #02AA31;
			font-weight: 400;
			font-family: 'Jost', sans-serif;
		}
		button:hover{
			background-color: #02AA31;
			border:1px solid #02AA31;
		}
	}
	// cart-detail --------------------

	// order-place-sec ----------------

	.order-place-sec{
		padding: 60px 0px;
	}
	.order-place-img{
		img{
			width: 100%;
		}
		.order-place-heading{
			text-align: center;
			margin-top: 15px;
			margin-bottom: 60px;
			h6{
				color: #02062E;
				font-size: 18px;
				font-weight: 500;
				font-family: 'Jost', sans-serif;
			}
			p{
				color: #5C5E70;
				font-size: 16px;
				font-weight: 400;
				font-family: 'Jost', sans-serif;
			}
			.animate-lines{
				border-radius: 15px;
				border:1px solid rgba(0, 0, 0, 0.23);
				width: 70px;
				height: 10px;
				float: left;
				margin: 0px 5px;
			}
			.animated-dark-lines{
				background-color: #02AA31;
				border:1px solid #02AA31;
			}
		}
	}
	.order-summary{
		margin-bottom: 40px;
		h4{
			font-size: 30px;
			color: #02062E;
			font-weight: 500;
			font-family: 'Jost', sans-serif;
		}
	}
	.order-summary-item-parent{
		background-color: white;
		padding: 20px;
		border-radius: 10px;
		margin-bottom: 20px;
	}
	.order-summary-detail{
		background-color: white;
		border-radius: 10px;
		padding: 20px;
		margin-bottom: 20px;
		position: relative;
		h6{
			font-size: 18px;
			color: #02062E;
			margin-bottom: 20px;
			font-weight: 500;
			font-family: 'Jost', sans-serif;
		}
		a{
			color: #02AA31;
			text-decoration: none !important;
		}
		a:hover{
			color: #02AA31;
		}
		p{
			font-size: 16px;
			color: #02062E;
			margin-bottom: 8px;
			font-weight: 400;
			font-family: 'Jost', sans-serif;
		}
		.chat-icons{
			position: absolute;
			right: 25px;
			bottom: 50px;
			img{
				width: 25px;
				margin-left: 8px;
			}
		}
	}
	.order-summary-item{
		background-color: white;
		padding: 20px;
		border-radius: 10px;
		.order-summary-img{
			float: left;
			img{
				width: 100px;
				margin-right: 20px;
			}
		}
		.order-summary-content{
			padding-top: 5px;
			h6{
				font-size: 18px;
				color: #02062E;
				font-weight: 500;
				font-family: 'Jost', sans-serif;

			}
			p{
				font-size: 16px;
				color: #02062E;
				margin-bottom: 5px;
				font-weight: 400;
				font-family: 'Jost', sans-serif;
			}
			span{
				color: #02062e;
				font-size: 16px;
				font-weight: 500;
				font-family: "Jost",sans-serf;
			}
		}

	}
	.cost-detail-final{
		margin-bottom: 0px;
		border-bottom: none;
		padding-bottom: 0px;
	}
	.cancel-order-button{
		button{
			color: red;
			font-size: 14px;
			height: 48px;
			width: 100%;
			margin-top: 20px;
			background-color: transparent;
			border:1px solid transparent;
			font-weight: 500;
			font-family: "Jost",sans-serf;
		}
	}

	// order-place-sec ----------------


	// cart-two ----------------------
	.product-cart{
		margin-top: 20px;
	}
	.cart-carrot-item{
		img{
			background-color: #eee;
			border-radius: 10px;
			float: left;
			width: 70px;
			margin-right: 10px;
		}
		h6{
			font-size: 14px;
			color: #02062E;
			font-weight: 500;
			font-family: "Jost",sans-serf;
		}
		p{
			font-size: 12px;
			color: #5C5E70;
			font-weight: 400;
			font-family: "Jost",sans-serf;
		}
	}
	.product-cart-add-item{
		margin-top: 0px !important;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.product-cart-form-group{
		width: 100% !important;
		margin-bottom: 0px !important;
		margin-right: 0px !important;
		width: 140px !important;
	}
	.product-cart-order-submit{
		border-radius: 0px;
		margin-top: 30px;
	}
	.product-cart-final-price{
		span{
			color: #5c5e70;
			font-weight: 300;
		}
	}
	.product-cart-checkout{
		background-color: white;
		position: absolute;
		bottom: 0;
		width: 100%;
		padding: 20px 30px;
		.checkout-detail{
			span{
				color: #02062e;
				font-size: 16px;
				font-weight: 500;
				font-family: "Jost",sans-serf;
			}
		}
		.checkout-button{
			button{
				font-size: 14px;
				height: 40px;
				width: 100%;
				margin-top: 20px;
				background-color: #02AA31;
				border: 1px solid #02AA31;
				font-weight: 500;
				font-family: "Jost",sans-serf;
				text-decoration: none !important;
			}
		}
	}
	.total-checkout{
		float: right;
	}

	// cart-two ----------------------







	/*PRELOADING------------ */
	#overlayer {
		width:100%;
		height:100%;  
		position:fixed;
		z-index:99999999;
		background-image: url(../img/grocy.jpeg);
		background-size: cover;
		background-position: right;
		background-color: #2d322c;
		background-blend-mode: overlay;
	}
	.loader {
		display: inline-block;
		width: 40px;
		height: 40px;
		position: fixed;
		z-index:99999999999;
		border: 4px solid #Fff;
		top: 50%;
		left: 50%;
		animation: loader 2s infinite ease;
		.loader-inner {
			vertical-align: top;
			display: inline-block;
			width: 100%;
			background-color: #fff;
			animation: loader-inner 2s infinite ease-in;
		}
	}


	@keyframes loader {
		0% {
			transform: rotate(0deg);
		}

		25% {
			transform: rotate(180deg);
		}

		50% {
			transform: rotate(180deg);
		}

		75% {
			transform: rotate(360deg);
		}

		100% {
			transform: rotate(360deg);
		}
	}

	@keyframes loader-inner {
		0% {
			height: 0%;
		}

		25% {
			height: 0%;
		}

		50% {
			height: 100%;
		}

		75% {
			height: 100%;
		}

		100% {
			height: 0%;
		}
	}


	// top button scroll ---------

	#button {
		display: inline-block;
		background-color: #02aa31;
		width: 50px;
		height: 50px;
		text-align: center;
		position: fixed;
		bottom: 30px;
		right: 30px;
		transition: background-color .3s, 
		opacity .5s, visibility .5s;
		opacity: 0;
		visibility: hidden;
		z-index: 1000;
		@media only screen and (max-width: 576px){}

	}
	#button::after {
		content: "\f077";
		font-family: FontAwesome;
		font-weight: normal;
		font-style: normal;
		font-size: 2em;
		line-height: 50px;
		color: #fff;
		@media only screen and (max-width: 576px){
			font-size: 20px;
		}
	}
	#button:hover {
		cursor: pointer;
		background-color: #333;
	}
	#button:active {
		background-color: #555;
	}
	#button.show {
		opacity: 1;
		visibility: visible;
	}

	// top button scroll ---------











	// reastaurent pages ----------------------

	//  reastaurent-content

	.reastaurent-content{
		background-color: black;
		background-image: url(../img/reas.png);
		background-size: contain;
		background-repeat: no-repeat;
		background-position: right;
		.content-parent{
			height: 55vh;
		}
		.content-paragraph{
			position: relative;
			transform: transalateY(-35%);
			top: 35%;
			@media only screen and (max-width: 480px){
				top: 27%;
			}
			h2{
				color: #FFFFFF;
				font-size: 44px;
				font-weight: 500;
				font-family: 'Jost', sans-serif;
				@media only screen and (max-width: 768px){
					color: white;
				}
			}
			p{
				color: #FFFFFF;
				font-size: 16px;
				line-height: 24px;
				font-weight: 400;
				font-family: 'Jost', sans-serif;
				@media only screen and (max-width: 768px){
					color: white;
				}
			}
		}
	}
	.reastaurent-img{
		img{
			width: 100%;
		}
	}

	// reastaurent pages ----------------------

	//  reastaurent store p---------------------


	.Restaurant-shop{
		background-image: url(../img/reastaurent-store.png);
		background-size: cover;
		height: 45vh;
		.shop-content-parent{
			height: 45vh;
			background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 80.83%);
		}

	}
	.deal-catagories{
		background-color: white;
		padding: 15px;
		border-radius: 10px;
	}
	.reastaurent-deal{
		padding: 40px 0px;
		.deal-catagories-row:last-child{
			margin-bottom: 0px;
		}
		.reas-deal-heading{
			margin-bottom: 30px;
			h4{
				color: #02062E;
				font-size: 30px;
				font-weight: 500;
				font-family: 'Jost', sans-serif;
			}
		}
		.deal-catagories-img{
			img{
				width: 100%;
				border-radius: 10px;
			}
		}
		.deal-catagories-content{
			position: relative;
			padding-top: 20px;
			height: 100%;
			h6{
				color: #02062E;
				font-size: 16px;
				font-weight: 500;
				font-family: 'Jost', sans-serif;
			}
			p{
				color: #5C5E70;
				font-size: 14px;
				font-weight: 300;
				font-family: 'Jost', sans-serif;
			}
			span{
				color: #02062E;
				font-size: 16px;
				font-weight: 500;
				font-family: 'Jost', sans-serif;
			}
			.deals-plus-cart{
				position: absolute;
				bottom: 7px;
				right: 7px;
				background-color: white;
				border-radius: 2px;
				display: flex;
				justify-content: center;
				align-items: center;
				overflow:hidden;
				button{
					background-color: #02AA31;
					border:0px;
					outline: none;
				}
				img{
					width: 25px;
					height: 30px;
				}
			}
		}
	}
	.deal-catagories-row{
		margin-bottom: 40px;
	}
	.Appetizers-deal{
		padding-bottom: 40px;
		.reas-deal-heading{
			margin-bottom: 30px;
			h4{
				color: #02062E;
				font-size: 30px;
				font-weight: 500;
				font-family: 'Jost', sans-serif;
			}
		}
		.deal-catagories-img{
			img{
				width: 100%;
				border-radius: 10px;
			}
		}
		.deal-catagories-content{
			padding-top: 20px;
			position: relative;
			height: 100%;
			h6{
				color: #02062E;
				font-size: 16px;
				font-weight: 500;
				font-family: 'Jost', sans-serif;
			}
			p{
				color: #5C5E70;
				font-size: 14px;
				font-weight: 300;
				font-family: 'Jost', sans-serif;
			}
			span{
				color: #02062E;
				font-size: 16px;
				font-weight: 500;
				font-family: 'Jost', sans-serif;
			}
			.deals-plus-cart{
				position: absolute;
				bottom: 7px;
				right: 7px;
				background-color: white;
				border-radius: 2px;
				display: flex;
				justify-content: center;
				align-items: center;
				overflow:hidden;
				button{
					background-color: #02AA31;
					border:0px;
					outline: none;
				}
				img{
					width: 25px;
					height: 30px;
				}
			}
		}
	}

	//  reastaurent store p---------------------


	// my-accordian

	.my-accordian{
		padding: 60px 0px;
	}
	.my-accordian-content{
		background-color: white;
		padding: 20px;
		border-radius: 12px;
		@media screen and (max-width: 768px){
			margin-bottom: 15px;
		}
		span{
			color: white;
			font-size: 14px;
			font-weight: 400;
			font-family: 'Jost', sans-serif;
			background-color: #2196F3;
			padding:5px 7px;
			border-radius: 20px;
		}
		h6{
			color: #02062E;
			font-size: 16px;
			margin-top: 15px;
			font-weight: 400;
			font-family: 'Jost', sans-serif;
		}
		p{
			color: #5C5E70;
			font-size: 12px;
			font-weight: 300;
			font-family: 'Jost', sans-serif;
			margin-bottom: 5px;
		}
	}
	.accordian-body{
		background-color: #F5F5F5;
	}
	.card-link{
		font-size: 16px;
		color: #02062E;
		font-weight: 400;
		font-family: 'Jost', sans-serif;
	}
	.card-header{
		background-color: white !important;
		border-bottom: 0px !important;
		border-radius: 12px;
	}
	.card{
		border:none !important;
	}
	.accordian-card{
		margin-bottom: 15px;
	}
	.accordion-row{
		margin-bottom: 15px;
	}
	.accordian-heading{
		h4{
			font-size: 30px;
			color: #02062E;
			font-weight: 400;
			font-family: 'Jost', sans-serif;
			margin-bottom: 30px;
		}
	}

	// accordian page-break-before: 


	// sync slider 

	#sync1 {
		.item {
			margin: 5px;
			color: #FFF;
			-webkit-border-radius: 3px;
			-moz-border-radius: 3px;
			border-radius: 3px;
			text-align: center;
		}
	}

	#sync2 {
		@media screen and (max-width: 768px){
			display: none;
		}
		.owl-item{
			width: 100% !important;
		}
		.item {
			margin: 5px;
			color: #FFF;
			-webkit-border-radius: 3px;
			-moz-border-radius: 3px;
			border-radius: 3px;
			text-align: center;
			cursor: pointer;
			h1 {
				font-size: 18px;
			}
		}
		.current .item{
		}
		.owl-stage{
			display: inline-grid;
			width: 100% !important;
		}
	}

	// sync slider

	// location-modal

	.location-modal{
		width: 600px !important;
		@media screen and (max-width: 576px){
			width: 97% !important;
		}
	}
	.location-modal-content{
		h4{
			font-size: 20px;
			color: #02062E;
			margin-bottom: 30px;
			font-weight: 400;
			font-family: 'Jost', sans-serif;
		}
		.location-modal-input{
			input{
				padding-left: 15px;
				border:1px solid #d9d9d9;
				height: 40px;
				width: 49%;
				font-weight: 300;
				font-family: 'Jost', sans-serif;
				outline: none;
				transition: 0.4s;
			}
			:hover{
                border:1px solid black;
			}
		}
	}
	.locaton-map-button{
		margin-top: 30px;
		button{
			height: 40px;
			width: 45%;
			background-color: #02aa31;
			border: 1px solid #02aa31;
			color: #fff;
			font-size: 14px;
			font-weight: 400;
			font-family: "Jost",sans-serif;
		}
		:hover{
			background-color: #02aa31 !important;
			border: 1px solid #02aa31 !important;
		}
	}
	.close-location{
		position: absolute;
		right: 20px;
		top: 30px;
		font-size: 25px;
		background-color: transparent;
		border: none;
		outline: none !important;
	}

	// location-modal



















